* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Hurmit Nerd Font", sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(37, 47, 49, 0.5);
}

window#waybar.hidden {
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
  background-color: transparent;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: transparent;
}

#workspaces button {
  padding: 0px 4px;
  background-color: transparent;
  color: #ffffff;
  transition: all 1s cubic-bezier(0.05, 0.9, 0.1, 1);
  border-radius: 10px;
  min-width: 10px;
  opacity: 0.5;
}

#workspaces button:hover {
  background: rgba(91, 109, 98, 0.3);
  opacity: 0.8;
}

#workspaces button.focused {
  background-color: transparent;
  box-shadow: inset 0 -3px #5b6d62;
}

#workspaces button.urgent {
  background-color: transparent;
}

#date1 {
  color: #a5b0a2;
}

#tray {
  color: #000000;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: #a5b0a2;
}

#custom-notficiationCenter {
  color: #a5b0a2;
  padding-right: 15px;
}

#workspaces {
  margin: 0 4px;
  padding: 1px 2px 1px 2px;
}

#workspaces button {
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  min-width: 12px;
  transition: all 1s cubic-bezier(0.05, 0.9, 0.1, 1);
  opacity: 0.5;
}

#workspaces button.active {
  background-color: rgba(62, 78, 74, 0.8);
  padding-right: 10px;
  padding-left: 10px;
  min-width: 18px;
  opacity: 1;
}

#workspaces button:hover {
  background-color: rgba(91, 109, 98, 0.6);
  box-shadow: inset 0 -3px #5b6d62;
  opacity: 0.8;
}

#clockG {
  padding: 0 6px 0 6px;
  color: #a5b0a2;
}

#metrics,
#workspaces,
#clockG,
#custom-mediaPlayer,
#tools,
#utils,
#taskbar {
  margin: 0 5px 0 5px;
  border-radius: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(37, 47, 49, 0.8);
  border: 2px solid #5b6d62;
}

#custom-terminal {
  padding: 0 10px;
  color: #a5b0a2;
  font-size: 20px;
  background-color: transparent;
}

#taskbar {
  padding: 0 5px 0 5px;
}

#taskbar button {
  transition: all 1s cubic-bezier(0.05, 0.9, 0.1, 1);
  border-radius: 15px;
  opacity: 0.6;
}

#taskbar button:hover {
  background: rgba(0, 0, 0, 0);
  background-color: rgba(91, 109, 98, 0.6);
  border-radius: 15px;
  box-shadow: inset 0 -3px #5b6d62;
  opacity: 0.9;
}

#taskbar button.active {
  background-color: rgba(62, 78, 74, 0.8);
  border-radius: 15px;
  opacity: 1;
}

#taskbar.empty {
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
}

#custom-mediaPlayer {
  padding-left: 8px;
  padding-right: 8px;
  opacity: 1;
  color: #a5b0a2;
}

#custom-mediaPlayer.stopped {
  background-color: transparent;
  opacity: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
